<app-ui-header titulo="Vendedores" colorTema="secondary" [mostrarBotonDatos]="true" (clickDatos)="alternarVista()"></app-ui-header>

<ion-content class="ion-padding">
  <div *ngIf="!vistaDatos">
    <h2 style="text-align: center;">{{ modoEdicion ? 'Editar Vendedor' : 'Registro de Vendedor' }}</h2>
    <ion-list>
      <app-ui-input label="Nombres" type="text" [(valor)]="vendedor.nombres"></app-ui-input>
      <app-ui-input label="Apellidos" type="text" [(valor)]="vendedor.apellidos"></app-ui-input>
      <app-ui-input label="Proyecto" type="text" [(valor)]="vendedor.proyecto"></app-ui-input>
      <app-ui-input label="Precio ($)" type="number" [(valor)]="vendedor.precio"></app-ui-input>
      <app-ui-input label="Domicilio" type="text" [(valor)]="vendedor.domicilio"></app-ui-input>
    </ion-list>
<div style="margin-top: 20px; display: flex; flex-direction: column; gap: 8px;">
      <app-ui-button 
        texto="GUARDAR" 
        color="success" 
        expand="block" 
        iconName="save-outline" 
        (accion)="guardar()">
      </app-ui-button>

      <app-ui-button 
        *ngIf="modoEdicion" 
        texto="CANCELAR" 
        color="medium" 
        expand="block" 
        iconName="close-outline" 
        (accion)="cancelarEdicion()">
      </app-ui-button>
    </div>
  </div>

  <div *ngIf="vistaDatos">
    <ion-item lines="none" style="margin-bottom: 10px; border: 1px solid #ccc; border-radius: 8px;">
      <ion-input placeholder="Buscar nombre, apellido o proyecto..." [(ngModel)]="terminoBusqueda" (ngModelChange)="buscar()"></ion-input>
      <ion-button slot="end" fill="clear" (click)="buscar()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-item>
    
    <app-ui-list 
      [datos]="listaFiltrada" 
      tipo="vendedor" 
      (accionEditar)="prepararEdicion($event)" 
      (accionEliminar)="confirmarEliminacion($event)">
    </app-ui-list>
  </div>
</ion-content>